
<!-- Body tag that contains the page body -->

@main("showAll"){
<div data-ng-app="" class="data-ng-controller= "MyController">
	<div>
		<!-- Created a panel that contains a table with some static data -->
		<div class="panel">
			<table class="table table-striped">
				<div style="background-color:silver;" class="panel-heading">Employee</div>
				
				
				<tr>
					<th><a data-ng-click="sort='name'" href="#">Name</a></th>
					<th><a data-ng-click="sort='gender'" href="#">Gender</a></th>
					<th><a data-ng-click="sort='email'" href="#">Email</a></th>
					<th><a data-ng-click="sort='phone'" href="#">Phone</a></th>
					<th><a data-ng-click="sort='registered'" href="#">Date</a></th>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
				<tr>
					<data-ng-repeat="xinlist">
					<td>Mike</td>
					<td>Male</td>
					<td>mike@@knoldus.com</td>
					<td>9990009991</td>
					<td>2015-02-02</td>
				</tr>
			</table>
		</div>
		<!-- Panel ends here -->
	</div>
</div>
}
<!-- Body ends here -->