@main("index") {


<div class="row">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Welcome to our page</h3>
		</div>

		<div class="col-sm-6 col-xs-6 col-md-6">
			<div class="panel-body">
				<ul class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Knolx Qualities</h4>
					</a>
					<li class="list-group-item">Expert in Scala, Clojue & Haskell</li>
					<li class="list-group-item">Great Communities</li>
					<li class="list-group-item">Proper material</li>
					<li class="list-group-item"><span class="badge">New</span>
						Asking for session</li>
					<li class="list-group-item">
						Scrum & XP Evangelists and Practitioners</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col-xs-6 col-md-6">
			<div class="panel-body">
				<ul class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Technologies</h4>
					</a>
					<li class="list-group-item">Scala</li>
					<li class="list-group-item">Play Framework</li>
					<li class="list-group-item"><span class="badge">New</span>
						Akka</li>
					<li class="list-group-item">Slick</li>			
					<li class="list-group-item"><span class="badge">New</span>
						Functional Programming . Reactive Applications</li>
				</ul>
			</div>
		</div>

	</div>
</div>

}
