
@(param: List[Employee], page:Int,pagesize:Int,filter:String,total:Int)(implicit flash: play.api.mvc.Flash)
@param


@import models.Models




<!-- Body tag that contains the page body -->
@main("showAll"){

<div data-ng-app="" class="data-ng-controller= "MyController">
	<div>
	
	@flash.get("success").map { message =>
			<div class="alert alert-dismissable alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Well done!</strong> @message
			</div>
		}
		<!-- Created a panel that contains a table with some static data -->
		<div class="panel">
			<table class="table table-striped">
				<div style="background-color: skyblue" class="panel-heading">Employee</div>
				
				
				
		
				
				
				
				
				
				<tr>
					<th><a data-ng-click="sort='id'" href="#">ID</a></th>
					<th><a data-ng-click="sort='name'" href="#">Name</a></th>
							<th><a data-ng-click="sort='email'" href="#">Password</a></th>
					<th><a data-ng-click="sort='gender'" href="#">Address</a></th>
					<th><a data-ng-click="sort='email'" href="#">Company</a></th>
					<th><a data-ng-click="sort='email'" href="#">Email</a></th>
					<th><a data-ng-click="sort='phone'" href="#">Phone</a></th>
					<th><a data-ng-click="sort='phone'" href="#">Created</a></th>
					<th><a data-ng-click="sort='phone'" href="#">Updated</a></th>
					<th><a data-ng-click="sort='phone'" href="#">UserType</a></th>
					<th><a data-ng-click="sort='delete'" href="#">Delete Record </a></th>
					<th><a data-ng-click="sort='update'" href="#">Update Record</a></th>
					
				</tr>
				<tr>
					@for(x<-param){
					<td>@x.id</td>	
					<td>@x.name</td>
					<td>@x.password</td>	
					<td>@x.address</td>
					<td>@x.company</td>
					<td>@x.email</td>
					<td>@x.phone</td>
					<td>@x.created</td>
					<td>@x.updated</td>
					<td>@x.user_type</td>
					
				
					<td><a href="@routes.Application.deleteEmp((x.id).get)"> 
					<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button></a>
					</td>
					
					<td><a href="#"><span>
					<button class="btn btn-primary" type="button"><span class="badge">@x.name</span>
					</button></span></td>
					
				</tr>}
				
				
			</table>
			<tr>
			<div><a href="/showAll?page=@(page-1)&search=@filter" class="btn btn-info col-md-2"  id="prev"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a>
                <div class="col-md-8" align="center"><h3>@(page+1)/@(((total-1)/5)+1)</h3></div>
                <a href="/showAll?page=@(page+1)&search=@filter" class="btn btn-info col-md-2" id="next">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
			</tr>
			
			
			
					</div>
		<!-- Panel ends here -->
	</div>
</div>
}

<!-- Body ends here -->